<div class="inner">

	<!-- Header -->
	<header id="header">
		<a class="logo">
			<h1><strong>到班通知管理</strong></h1>
		</a>
	</header>

	<!-- Section -->
	<section>

		<input id="search_text" type="search" placeholder="搜尋">
		<p class="my-3"><input type="text" id="datepicker" placeholder="選擇日期"></p>

		<table>
			<thead>
				<tr>
					<th>學生姓名</th>
					<th>家長姓名</th>
					<th>家長電話</th>
					<th>時間</th>
					<th>切換狀態</th>
					<th>備註</th>
				</tr>
			</thead>
			<tbody id="attend_student">

			</tbody>
		</table>
	</section>

</div>



<script src="./template/assets/js/attend_record.js"></script>