<div class="inner">

	<!-- Header -->
	<header id="header">
		<a class="logo">
			<h1><strong>到班通知管理</strong></h1>
		</a>
	</header>

	<!-- Section -->
	<section>
		<input id="search_text" type="search" placeholder="搜尋">
		<div class="input-group date" data-provide="datepicker">
			<input type="text" class="form-control" style="width: 50%;">
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-th"></span>
			</div>
		</div>
		<table>
			<thead>
				<tr>
					<th>學生姓名</th>
					<th>家長姓名</th>
					<th>家長電話</th>
					<th>時間</th>
					<th>切換狀態</th>
					<th>備註</th>
				</tr>
			</thead>
			<tbody id="attend_student">

			</tbody>
		</table>
	</section>

</div>



<script src="./template/assets/js/attend_change.js"></script>