<!-- Main -->
<div class="inner">

	<!-- Header -->
	<header id="header">
		<a  class="logo">
			<h1><strong>補習班公佈欄</strong></h1>
		</a>

	</header>

	<!-- Banner -->
	<section id="banner">
		<div class="content">
			<h2>已發布訊息</h2>
			<table>
				<tbody id="bulletin_board">

				</tbody>
			</table>

			<button data-bs-toggle="collapse" data-bs-target="#add_post" aria-expanded="false"
				aria-controls="add_post">新增訊息</button>
			<form action="../app/bulltin_board.php" method="post">
				<input type="hidden" name="action" value="add_bulletin">
				<div class="collapse" id="add_post">
					<textarea cols="10" rows="1" placeholder="title" class="my-3"
						name="bulletin_title"></textarea>
					<textarea cols="30" rows="5" placeholder="content" class="my-3"
						name="bulletin_content"></textarea>
					<button type="submit" action="submit">發布</button>
				</div>
			</form>
		</div>
	</section>



</div>

<script src="./template/assets/js/bulletin_board.js"></script>