<!-- Main -->
<div class="inner">

	<!-- Header -->
	<header id="header">
		

	</header>

	<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header class="major">
				<h2>發布訊息</h2>
			</header>
			<table>
				<tbody id="bulletin_board">

				</tbody>
			</table>

			<button data-bs-toggle="collapse" data-bs-target="#add_post" aria-expanded="false"
				aria-controls="add_post">新增訊息</button>
			<form action="../app/bulletin_board.php" method="post">
				<input type="hidden" name="action" value="add_bulletin">
				<div class="collapse" id="add_post">
					<textarea cols="10" rows="1" placeholder="標題" class="my-3"
						name="bulletin_title" required></textarea>
					<textarea cols="30" rows="5" placeholder="內文" class="my-3"
						name="bulletin_content" required></textarea>
					<button type="submit" action="submit">發布</button>
				</div>
			</form>
		</div>
	</section>



</div>

<script src="./template/assets/js/bulletin_board.js"></script>