<div class="inner">

	<!-- Header -->
	<header id="header">
		<a class="logo">
			<h1><strong>開課課程管理</strong></h1>
		</a>

	</header>

	<!-- Section -->
	<section>
		<header class="major">
			<h2>所有課程</h2>
		</header>
		<table>
			<tbody id="all_course">
				

			</tbody>
		</table>
		<button data-bs-toggle="collapse" data-bs-target="#add_course" aria-expanded="false"
			aria-controls="add_course">新增課程</button>
		<form action="" method="post">
			<input type="hidden" name="action" value="add_course">
			<div class="collapse" id="add_course">
				<textarea name="course_name" id="" cols="30" rows="1" class="m-2" placeholder="課程名稱"></textarea>
				<textarea name="course_info" id="" cols="30" rows="3" class="m-2" placeholder="課程資訊"></textarea>
				<textarea name="course_time" id="" cols="30" rows="1" class="m-2" placeholder="上課時間"></textarea>
				<textarea name="course_price" id="" cols="30" rows="1" class="m-2" placeholder="收費"></textarea>
				<button class="m-2" action = "submit">發布</button>
			</div>
		</form>

	</section>

</div>
<script src="./template/assets/js/class_management.js"></script>