<!-- Main -->
<div id="main">
	<div class="inner">

		<!-- Header -->
		<header id="header">
			<a href="" class="logo">
				<h1><strong>開課課程管理</strong></h1>
			</a>

		</header>

		<!-- Section -->
		<section>
			<header>
				<h2>所有課程</h2>
			</header>
			<table>
				<tbody>
					<tr>
						<td>課程名稱：HCT線上程式設計</td>
						<td>上課時間：8月每周三下午4:30</td>
						<td>收費：$3000</td>

					</tr>
					<tr>
						<td>課程名稱：線上安親</td>
						<td>上課時間：8月 周一至周五 上午9:00~下午5:30</td>
						<td>收費：$2000</td>

					</tr>
				</tbody>
			</table>
			<button data-bs-toggle="collapse" data-bs-target="#add_class" aria-expanded="false"
				aria-controls="add_class">新增課程</button>
			<div class="collapse" id="add_class">
				<textarea name="" id="" cols="30" rows="1" class="m-2" placeholder="課程名稱"></textarea>
				<textarea name="" id="" cols="30" rows="3" class="m-2" placeholder="內容"></textarea>
				<textarea name="" id="" cols="30" rows="1" class="m-2" placeholder="上課時間"></textarea>
				<textarea name="" id="" cols="30" rows="1" class="m-2" placeholder="收費"></textarea>
				<button class="m-2">發布</button>
			</div>
		</section>

	</div>
</div>