<link rel="stylesheet" href="./template/assets/css/member_management.css" />




	<div class="inner">

		<!-- Header -->
		<header id="header">
			<a class="logo">
				<h1><strong>學生/家長管理</strong></h1>
			</a>

		</header>

		<!-- Section -->
		<section>
			<textarea name="" id="" cols="30" rows="1" placeholder="搜尋姓名"></textarea>
			<button data-bs-toggle="collapse" data-bs-target="#add_post" aria-expanded="false" aria-controls="add_post"
				class="add_member">新增資料</button>
			<button class="add_member" id="update">修改資料</button>
			<form action="" method="post">
				<div class="collapse" id="add_post">
					<table>
						<tr>
							<th>學生姓名</th>
							<th>家長姓名</th>
							<th>連絡電話</th>
						</tr>
						<tr>
							<td><input name=""></input></td>
							<td><input name=""></input></td>
							<td><input name=""></input></td>
						</tr>
					</table>
					<button type="submit" action="submit">新增</button>
				</div>
			</form>
			<table>
				<thead>
					<tr>
						<th>學生姓名</th>
						<th>家長姓名</th>
						<th>帳號</th>
						<th>密碼</th>
						<th>連絡電話</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="std_list">

				</tbody>
			</table>
		</section>

	</div>



<script src="./template/assets/js/member_management.js"></script>