<link rel="stylesheet" href="./template/assets/css/member_management.css" />

	<div class="inner">
		<!-- Header -->
		<header id="header">
			<a class="logo">
				<h1><strong>學生/家長管理</strong></h1>
			</a>
		</header>
		<!-- Section -->
		<section>
			<textarea name="" id="" cols="30" rows="1" placeholder="搜尋姓名"></textarea>
			<button data-bs-toggle="collapse" data-bs-target="#add_data" aria-expanded="false" aria-controls="add_data" class="mt-3 mb-3">新增資料</button>
			<div class="collapse" id="add_data">
				<table>
					<thead>
						<tr>
							<th>學生姓名</th>
							<th>家長姓名</th>
							<th>連絡電話</th>
						</tr>
					</thead>
						<tbody id="add_data_write">

						</tbody>
				</table>
				<button onclick="add_data_row()">新增</button>
				<button class="ms-3">提交</button>
			</div>
			<table>
				<thead>
					<tr>
						<th>學生姓名</th>
						<th>家長姓名</th>
						<th>帳號</th>
						<th>密碼</th>
						<th>連絡電話</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="std_list">
						
				</tbody>
			</table>
		</section>
	</div>



<script src="./template/assets/js/member_management.js?210825"></script>