<link rel="stylesheet" href="./template/assets/css/payment_notice.css">

<div class="inner">

	<!-- Header -->
	<header id="header">
		<a href="" class="logo">
			<h1><strong>繳款通知管理</strong></h1>
		</a>

	</header>

	<!-- Section -->
	<section>
		<header class="major">
			<h2>繳款進度</h2>

		</header>

		<div id="payment_record">

		</div>
		<footer class="my-5">
			<button id="add_payment_record">
				新增/更新當月繳款紀錄
			</button>
		</footer>





	</section>

</div>



<script src="./template/assets/js/payment_notice.js"></script>