.management_student {
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin-right: 18px;
  border-top: solid 5px rgba(222, 225, 226, 0.75);
}

.add_member {
  margin-right: 10px;
  margin-top: 20px;
}

input {
  border: 2px solid rgba(222, 225, 226, 0.75);
  height: 1.75em !important;
  /* width: 180px; */
  margin-bottom: 2px;
}

table {
  /* width: 100%; */
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

@media only screen and (max-width: 760px) {
  input {
    border: 2px solid rgba(222, 225, 226, 0.75);
    height: 1.75em !important;
    width: 80px !important;
    margin-bottom: 2px;
  }
}